<div class="">
  <h1 class="primary technology-header">Technologies I've worked with:</h1>
  <h5 class="text-center">Web development</h5>
  <hr class="primary" />
  <zubairmoosa-website-circular-image
    [model]="frontendCircularImages"
  ></zubairmoosa-website-circular-image>
  <br />
  <h5 class="text-center">Database systems</h5>
  <hr class="primary" />
  <zubairmoosa-website-circular-image
    [model]="databaseCircularImages"
  ></zubairmoosa-website-circular-image>
  <br />
  <h5 class="text-center">Dev ops</h5>
  <hr class="primary" />
  <zubairmoosa-website-circular-image
    [model]="devopsCircularImages"
  ></zubairmoosa-website-circular-image>
</div>
