<div class="d-flex justify-content-between flex-wrap section-container">
  <div class="item-group" *ngFor="let image of model; let index = i">
    <div
      class="image-circular-crop"
      *ngIf="!image.isRectangular; else rectangularImage"
    >
      <img src="{{ image.imageSrc }}" alt="{{ image.name }}" />
    </div>
    <ng-template #rectangularImage>
      <div class="image-rectangular">
        <img src="{{ image.imageSrc }}" alt="{{ image.name }}" />
      </div>
    </ng-template>
    <p class="image-caption text-center">{{ image.name }}</p>
  </div>
</div>
