.image-circular-crop {
  max-width: 100px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-inline: 1.5vw;
}

.image-circular-crop img {
  // display: block;
  // margin: 0 auto;
  // height: auto;
  // width: 150%;
  // margin: 0 0 0 -20%;
  // -webkit-border-radius: 50%;
  // -moz-border-radius: 50%;
  // -ms-border-radius: 50%;
  // -o-border-radius: 50%;
  // border-radius: 50%;

  //Second attempt:
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.image-rectangular {
  max-width: 150px;
  height: fit-content;
  align-self: flex-end;
}

.image-rectangular img {
  width: 100%;
  height: auto;
}

.item-group {
  height: fit-content;
  align-self: center;
}

.image-caption {
  white-space: pre-wrap;
}

div.container {
  width: fit-content;
}
