<!-- Main -->
<main *ngIf="this.scrWidth > 700; else mobileMessage">
  <mdb-navbar
    SideClass="navbar navbar-expand-lg navbar-dark black ie-nav"
    [containerInside]="false"
  >
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"
        ><strong class="primary">Zubair Moosa</strong></a
      >
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item waves-light float-right" mdbWavesEffect>
          <a
            class="nav-link"
            href="https://github.com/mzmoosa01"
            target="_blank"
            ><mdb-icon fab icon="github"></mdb-icon
          ></a>
        </li>
        <li class="nav-item waves-light float-right" mdbWavesEffect>
          <a
            class="nav-link"
            href="https://linkedin.com/in/mohammed-zubair-moosa"
            target="_blank"
            ><mdb-icon fab icon="linkedin"></mdb-icon
          ></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <hero-component></hero-component>
</main>

<ng-template #mobileMessage>
  <div class="jumbotron text-center elegant-color-dark">
    <!-- Title -->
    <h2 class="card-title h2">Under construction!</h2>
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold">
      Unfortunately, the mobile version of this website is still under
      construction.
    </p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
        <p class="card-text">
          I am working hard to get the mobile version of this website up and
          running. In the mean time please use the button below to download my
          CV or visit the website using a desktop PC.
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <hr class="my-4" />

    <div class="pt-2">
      <a href="../assets/ZubairCV_2021.pdf" target="_blank">
        <button
          type="button"
          mdbBtn
          color="primary"
          outline="true"
          mdbWavesEffect
        >
          Download CV<mdb-icon fas icon="download" class="ml-1"></mdb-icon>
        </button>
      </a>
    </div>
  </div>
</ng-template>
