.content-header{
    color: #fff;
    text-align: center;
    h1{
        font-size: 36px;
        font-weight: 400;
        margin: 0;
    } 
    h4{
        font-size: 16px;
        font-weight: 300;
        max-width: 600px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 960px) {    
    .content-header{
        img{
            width: 150px;
            height: 150px;
        }
        h1{
            font-size: 48px;
        } 
        h4{
            font-size: 18px;
        }
        // &.has-bg-image{
        //     background-size: 480px; 
        // }
    }
}