<app-header [data]="headerData"></app-header>

<div>
  <div class="p-3">
    <mat-card class="details-container mt-5">
      <div>
        <h3>Who am I?</h3>
        <div>
          <p class="secondary-text-color">
            A professional web developer with 4 years of coporate experiance. I love what I do and I believe that I do it well. 
            My main professional focus has been on full stack development using Angular and ASP.NET. I'v worked with multiple CI/CD platforms
            using Docker, Kubernetes and Microsoft Azure to deploy and host applications. I also have a passion for teaching and mentoring and have recently begun 
            the journey to becoming a coding instructor through platforms like YouTube and Udemy. 
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
