<app-header [data]="headerData"></app-header>

<div>
  <div class="p-3">
    <mat-card class="details-container mt-5">
      <div>
        <h3>My Story</h3>
        <div>
          <p class="secondary-text-color">
            I grew up in a small town in Pretoria, South Africa called Laudium.
            I lost my father as a baby and my mother got remarried a few years
            later to man who turned out to be abusive. I moved out at 12 years
            old and bounced between different family members' homes. I
            eventually wound up living with my grandmother but, with her being a
            pensioner, money was tight. Once I completed high school, I wanted
            to study computer science but I could not afford to do so. My
            grandmother wanted me to study so she scrounged up what she could
            and made me apply, unfortunately I was too late to get into the
            computer science program. A friend suggested Informatics to me and
            they accepted me as a late applicant. Informatics turned out to be a
            great choice for me as it allowed me to learn to view software
            development in its entirety and not just from a programming
            perspective. I continued with my first year knowing that if I did
            not do something, I would not be able to afford to continue into my
            second. I topped my class that year and I was fortunate enough to be
            awarded a full-cost scholarship from Investec bank. I went on to
            work at Investec Bank and truly became a fully fledged software
            engineer. I spend my days doing what I love and I couldn't be
            happier. I truly believe that with hard work and determination
            anything is posible.
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
