<app-header [data]="headerData"></app-header>

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90" class="p-3">
    <mat-card class="details-container mt-5">
      <div fxLayout="row wrap">
        <div fxFlex="80">
          <h3>My Story</h3>
        </div>
        <div fxFlex="20" class="text-end">
          <button
            mat-icon-button
            social-icons
            matTooltip="Github"
            matTooltipPosition="above"
          >
            <svg
              class="mat-icon social-icon-2 transition"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              />
            </svg>
          </button>
          <button
            mat-icon-button
            matTooltip="Linkedin"
            matTooltipPosition="above"
            class="mx-1"
          >
            <svg class="mat-icon social-icon-2 transition" viewBox="0 0 24 24">
              <path
                d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"
              />
            </svg>
          </button>
        </div>

        <div fxFlex="100">
          <p class="secondary-text-color">
            I grew up in a small town in Pretoria, South Africa called Laudium.
            I lost my father as a baby and my mother got remarried a few years
            later to man who turned out to be abusive. I moved out at 12 years
            old and bounced between different family members' homes. I
            eventually wound up living with my grandmother but, with her being a
            pensioner, money was tight. Once I completed high school, I wanted
            to study computer science but I could not afford to do so. My
            grandmother wanted me to study so she scrounged up what she could
            and made me apply, unfortunately I was too late to get into the
            computer science program. A friend suggested Informatics to me and
            they accepted me as a late applicant. Informatics turned out to be a
            great choice for me as it allowed me to learn to view software
            development in its entirety and not just from a programming
            perspective. I continued with my first year knowing that if I did
            not do something, I would not be able to afford to continue into my
            second. I topped my class that year and I was fortunate enough to be
            awarded a full-cost scholarship from Investec bank. I went on to
            work at Investec Bank and trully became a fully fledged software
            engineer. I spend my days doing what I love and I couldn't be
            happier. I trully believe that with hard work and determination
            anything is posible.
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
