<div
  id="app"
  class="app h-100"
  [ngClass]="{ 'blue-dark': darkMode, 'blue-light': !darkMode }"
>
  <mat-toolbar color="primary" class="horizontal-menu" ngClass.gt-sm="px-0">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxHide="false"
      fxHide.gt-sm
      class="w-100"
    >
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="person-name">Zubair Moosa</span>
    </div>
    <div fxShow="false" fxShow.gt-sm class="container">
      <app-menu></app-menu>
    </div>
  </mat-toolbar>
  <mat-drawer-container>
    <mat-drawer #drawer mode="over" class="sidenav" autoFocus="false">
      <div class="h-100">
        <app-menu></app-menu>
        <div class="toggle-container">
          <div class="toggle">
            <mat-slide-toggle [checked]="true" (change)="toggleDarkMode()"
              >Dark mode</mat-slide-toggle
            >
          </div>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="wrapper">
        <router-outlet></router-outlet>
        <div class="toggle-container">
          <div class="toggle">
            <mat-slide-toggle
              fxShow="false"
              fxShow.gt-sm
              [checked]="true"
              (change)="toggleDarkMode()"
              >Dark mode</mat-slide-toggle
            >
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
