img.rounded {
  border-radius: 50% !important;
  max-height: 175px;
  background-color: #808080;
}

.subheading-container {
  max-width: 50%;
}

.aboutme-header {
  position: relative;
  right: 200px;
  padding-bottom: 5vh;
}

.image-container {
  height: 175px;
}
